{% extends "auctions/layout.html" %}

{% block body %}
    <h2> My Watchlist</h2>
    <div class="listing_container">
    {% for listing in listings %}
        {% if listing.active == True and user.is_authenticated == True %}
                <div class="listing_element">
                    <div class="listing_image"><img src="{{listing.url}}" alt="{{ listing.title }}" height="300" width="400"></div>
                    <div class="listing_description"><h4><a class="nav-link" href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                        {{ listing.description }}
                        Price: ${{ listing.price }}
                    </div>
                </div>
            {% elif user.is_authenticated == False %}
                Not signed in. Please login and try again. 
        {% endif %}
    {% empty %}
        There are no listings in a watchlist yet. You're welcome to add one!
    {% endfor %}
    </div>
{% endblock %}