{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h2>Create a new listing</h2>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
            <div class="input_group">
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="title" placeholder="Title" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="Starting Bid" min="0" step="any" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control" type="url" name="url" placeholder="Link to the image" autocomplete="off">
                </div>
                <div class="form-group">
                    <select class="form-control" name="category" id="category" placeholder="Category">
                        <option value="" disabled selected hidden> Category </option>
                        {% for category in categories %}
                            <option value="{{ category }}"> {{ category }} </option>
                        {% endfor %}
                    </select>
                </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </div>
    </form>
</div>

{% endblock %}