{% extends "auctions/layout.html" %}

{% block body %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
        if (document.getElementById("success")) {
		    console.log("Information is successfully updated")
			setTimeout(function() {
			window.location.href = "";
		}, 2000); // Adjust the delay as needed
			}
		});
    </script>

        {% if failure %}
            <div id="failure" class="alert alert-danger" role="alert">
                {{ failure }}
            </div>
            {% elif success %}
            <div id="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        <h3>Your current listing: {{listing.title}}</h3>
        {% if user.is_authenticated %}
                <div class="button_group">
                    {% if listing.active %}
                        {% if inWatchlist == False %}
                            <form action="{% url 'add' listing.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success"> Add to a watchlist </button>
                            </form>
                            {% else %}
                            <form action="{% url 'remove' listing.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger"> Remove from a watchlist </button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
                    {% if user == listing.user_owner and listing.active == True %}
                    <form action="{% url 'close' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-warning"> Close the auction </button>
                    </form>
                {% endif %}
                </div>
        <div class="item_container">
                        <div class="listing_image" id="item_photo"><img src="{{ listing.url }}" alt="{{ listing.title }}">{{ listing.description }}</div>
                        <div class="listing_description" id="item_description">
                            <p>
                                Starting Price:  ${{ listing.price }}
                                Current Price:  ${{ max_bid }}
                                Owner: {{ listing.user_owner }}
                                Category: {{ listing.category }}
                                {% if listing.active == False %}
                                    <div>
                                        Winner of this auction is {{ user_winner }} !
                                    </div>
                                {% endif %}
                            </p>
                        {% if listing.active %}
                        {% if user.is_authenticated %}
                            <form action="{% url 'bid' listing.id %}" method="post">
                                {% csrf_token %}
                                <label for="exampleFormControlTextarea1" class="form-label"> Bid section </label>
                                    <div class="input-group mb-3 w-80">
                                        <span class="input-group-text">$</span>
                                        <input type="text" min="0.00" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="Place your bid here" name="bid" autocomplete="off">
                                        <button type="submit" class="btn btn-outline-success"> Bid </button>
                                    </div>
                            </form>
                            <div>
                                <form action="{% url 'add_comment' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3 w-80">
                                    <label for="exampleFormControlTextarea1" class="form-label"> Comment Section </label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your comment here" name="comment"></textarea>
                                    <button type="submit" class="btn btn-outline-success"> Add comment </button>
                                    </div>
                                </form>
                            </div>
                            {% for comment in comments %}
                            <div>
                                {{ comment.date_posted }} <b>{{ comment.user }}</b> <br>
                                {{ comment.comment }}
                            </div>
                            {% endfor %}
                            {% else %}
                                Please log in to comment or bid 
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
{% endblock %}