
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset and General Styles */
div {
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation Styles */
.navbar {
    padding: 10px 10px;
}

.navbar ul {
    text-decoration: none;
    padding: 0;
}

.navbar li {
    display: inline;
    padding: 20px;
}
.navbar a {
    text-decoration: none;
    color: black;
    position: relative; /* Set position relative for absolute positioning of the underline */
}
.navbar a::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust the distance between letters and underline */
    left: 0;
    right: 0;
    border-bottom: 1px solid transparent; /* Initial transparent underline */
    transition: border-bottom 0.5s, color 0.5s; /* Add transitions for a smooth effect */
}

.navbar a:hover::after {
    border-bottom: 1px solid rgb(19, 176, 153); /* Color of the underline on hover */
}

#meniu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Optionally center the child elements horizontally */
}

#meniu ul {
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
}

/* Layout Styles */
.container {
    width: 100%; /* Change from 100vw to 100% */
    margin-top: 15px;
    box-sizing: content-box;
}
#header {
    font-size: 50px;
    color: olive; /* Correct color name */
    height: 90vh;
}
#description {
    margin: 20px;
    padding: 5px;
    height: 200px;
    width: 70%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    color: rgba(90, 58, 34, 0.73);
}
p {
    margin: 0; /* Add this rule to reset the margin for paragraphs */
}

h2 {
    font-size: 30px;
    text-align: center;
    color: olive;
    margin-bottom: 10px; /* Add margin-bottom to separate h2 from the following div */
}

/* Grid and Flexbox Styles */
.grid-container, #meniu ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

/* Hover and Transition Styles */
.image {
    transition: opacity 0.3s; /* Change from color to opacity for smooth transition */
}

.image:hover {
    opacity: 0.7; /* Change the opacity on hover */
}