div {
    text-align: center;
}

.navbar{
    padding: 10px 0; 
}
.navbar ul {
    text-decoration: none;
    padding: 0;
}

.navbar li{
    display: inline;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a:hover{
   color: rgb(19, 176, 153);
}

.container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100vw; /* 100% viewport width for full-width container */
    height: 90vh; /* 100% viewport height for full-height container */
    font-size: 50px;
    color: olivedrab;
}
h2 {
    font-size: 30px;
    text-align: center;
    color: olive;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Single column for the grid */
    grid-gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 100%;
    overflow: hidden; /* Hide any overflowing content */
}

.image {
    transition: color 0.3s; /* Add a smooth transition for color change */
}

.image:hover {
    opacity: 70%;/* Change the color on hover */
}