* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset and General Styles */
div {
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation Styles */
.navbar {
    padding: 10px 10px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    padding: 0;
}

.navbar li {
    display: inline;
    padding: 20px;
    margin: 0 10px;
}
.navbar a {
    text-decoration: none;
    color: black;
    position: relative; /* Set position relative for absolute positioning of the underline */
}
.navbar a:hover {
    color: rgb(78, 104, 26);
}

#meniu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Optionally center the child elements horizontally */
}

#meniu ul {
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
}
#meniu a {
    text-decoration: none;
    color:darkgreen;
}
#meniu a:hover {
    color: rgba(145, 72, 13);
}

/* Dropdown menu */

/* The dropdown container */
.dropdown {
    position: relative;
  }
  
  /* Dropdown button */
  .dropdown .dropdown_btn {
    font-size: 16px;
    border: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding:20px 40px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
  }

/* Layout Styles */
.container {
    width: 100vw;
    margin-top: 15px;
    box-sizing: content-box;
}
#header {
    font-size: 50px;
    color: olive; /* Correct color name */
    height: 90vh;
}
#description {
    margin: 20px;
    padding: 5px;
    height: 200px;
    width: 70%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    color: rgba(90, 58, 34, 0.73);
}
p {
    margin: 0; /* Add this rule to reset the margin for paragraphs */
}

h2 {
    font-size: 30px;
    text-align: center;
    color: olive;
    margin-bottom: 10px; /* Add margin-bottom to separate h2 from the following div */
}

/* Grid and Flexbox Styles */
.grid-container, #meniu ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

/* Hover and Transition Styles */
.image {
    transition: opacity 0.3s; /* Change from color to opacity for smooth transition */
}

.image:hover {
    opacity: 0.7; /* Change the opacity on hover */
}