{% extends "layout.html" %}

{% block title %}
  Bobvakariai
{% endblock %}

{% block main %}
  <form action="/bobvakariai">
    <div class="container">
	  <div id="description">
		<h3> Bobvakariai </h3> <!--  Bobvakariai -- 3 edukacinė --> 
		<p>
			Į Bobvakarius kviečiame moteris, norinčias, gamtos apsuptyje, pasilsėti
			nuo kasdienybės, išsimaudyti pirtyje su žolėmis, pasiperti žolinėmis
			vantomis, susipažinti su žolių panaudojimu grožio procedūrose ir
			pasimėgauti vaistažolių arbatomis.
			Laukiamos <b>5-10</b> moterų grupės.
		</p>
		<p>
			Programos kaina vienam asmeniui <b>10€</b>.
			Programos trukmė <b>2-3val</b>.
		</p>
	  </div>
    </div>
  </form>
{% endblock %}