{% extends "layout.html" %}

{% block title %}
  Bobvakariai
{% endblock %}

{% block main %}
  <form action="/bobvakariai">
    <div class="product_2">
		<div class="product_description_2">
			<h2> Bobvakariai </h2> <!--  Bobvakariai -- 3 edukacinė --> 
			<p>
				Į Bobvakarius kviečiame moteris, norinčias, gamtos apsuptyje, pailsėti
				nuo kasdienybės, išsimaudyti pirtyje su žolėmis, pasiperti žolinėmis
				vantomis, susipažinti su žolių panaudojimu grožio procedūrose ir
				pasimėgauti vaistažolių arbatomis.
				<br><br>
				Laukiamos <b>5-8</b> moterų grupės.
			</p>
			<br>
			<h3> Kaina bei trukmė</h3>
			<p>
				Programos kaina vienam asmeniui <b>10€</b>.
				<br>
				Programos trukmė <b>2-3val</b>.
			</p>
		</div>
    </div>
  </form>
{% endblock %}