{% extends "layout.html" %}

{% block title %}
   Galerija
{% endblock %}ūūūūūūūūū

{% block main %}
  <form action="/galerija">
    <div class="container">
      <h1> Galerija </h1>
      <div class="grid_container_gallery">
        <img class="grid_item" src="static\sodai.JPG" alt="Renatos sodai" height="400" width="500">
        <img class="grid_item" src="static\photos\bitute.jpg" alt="Bitė" height="400" width="500">
        <img class="grid_item" src="static\photos\sodas_2.jpg" alt="Sodas" height="400" width="500">
        <img class="grid_item" src="static\photos\sodas_3.jpg" alt="Sodas" height="450" width="500">
        <img class="grid_item" src="static\photos\bertukas.jpg" alt="Šuo sode" height="450" width="500">
        <img class="grid_item" src="static\photos\sodas_4.jpg" alt="Sodas" height="450" width="500">
      </div>
  </form>
{% endblock %}