{% extends "layout.html" %}

{% block title %}
   Galerija
{% endblock %}ūūūūūūūūū

{% block main %}
  <form action="/galerija">
    <div>
      <h1> Galerija </h1>
      <div class="grid_container_gallery">
        <img class="grid_item" src="static\photos_2\sodai.JPG" alt="Renatos sodai">
        <img class="grid_item" src="static\photos\bitute.jpg" alt="Bitė">
        <img class="grid_item" src="static\photos\sodas_2.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_3.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_4.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_5.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_6.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_7.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_8.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_9.jpg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_10.jpeg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_11.jpeg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_12.jpeg" alt="Sodas">
        <img class="grid_item" src="static\photos\sodas_13.jpeg" alt="Sodas">
      </div>
      <div class="modal">
        <span class="close">&times;</span>
        <span class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <span class="previous"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
        <div class="modal_content">
          <img src="static\photos\namai_6.jpg" class="modalImg">
        </div>
      </div>
  </form>
{% endblock %}