{% extends "layout.html" %}

{% block title %}
    Pagrindinis Meniu
{% endblock %}

{% block main %}
<form action="/">
    <div class="container" style="margin: 0 auto; height: 40vw; background-image: url('static/photos_2/vaistazoles_1.JPG') ;">
        <div id="header">
            Sveiki atvykę į vaistažolių pasaulį!
        </div>
    </div>
    <div class="container" style="height: 50vw;">
        <h2> Apie Mus </h2>
        <div class="img-container">
            <img src="static\photos_2\sodai.JPG" alt="Renatos Sodai">
            <p> Meditacijos oazė "Renatos Sodai" įsikūrusi Kupiškio rajone, Lėvėns slėnio kraštovaizdžio draustinio apsuptyje.
                <br><br> 
                Atvykę čia susipažinsite su įvairiomis, Lietuvoje augančiomis, vaistažolėmis, jų naudingosiomis savybėmis.
                <br><br>
                "Renatos Soduose" jūsų laukia ne tik edukacinės programos, bet ir degustacijos, kurių metu ragausite iš vietinių žolelių
                pagamintas arbatas.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="grid-container">
            <div>
                <p> Vaistas ir maistas šalia </p>
                <img class="image" src="{{ url_for('static', filename='/photos_2/meta.jpg') }}" alt="Mėtos">
            </div>
            <div>
                <p> Vaistažolės prie namų </p>
                <img class="image" src="{{ url_for('static', filename='/photos_2/lapukai_2.jpg') }}" alt="Lapukai"></div>
            <div>
                <p> Bobvakariai </p>
                <img class="image" src="{{ url_for('static', filename='/photos_2/salavijas.jpg') }}" alt="Šalavijas"></div>
        </div>  
    </div>
</form>
{% endblock %}
