<!DOCTYPE html>
<html lang="lt">
    <head>
        <link rel="stylesheet" href="\static\styles.css">
        <title> Renatos Sodai</title>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li> Apie Mus </li>
                <li> Pagrindinis Puslapis </li>
                <li> Kainos </li>
                <li> Arbatų programų meniu </li>
                <li> Kontaktai </li>
            </ul>
        </div>
        <div>
        </div>
    </body>
</html>