{% extends "layout.html" %}

{% block title %}
   Kontaktai
{% endblock %}

{% block main %}
    <style>
      main {background-image: url("static/photos_2/background.png");
      background-repeat: repeat;
      };
    </style>
  <form action="/kontaktai">
    <div class="description_container">
      <div class="description_contacts">
        <h2> Kur mus rasti?</h2>
          <div>
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            Adresu Dvaro g. 7a, Stirniškių km., Kupiškio raj.
          </div>
          <div><i class="fa fa-address-book" aria-hidden="true"></i>
              Susisiekti galite telefono numeriu +37065489181.
          </div>
        </div>
        <div class="description_map" ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.721187849688!2d24.827925276685974!3d55.78071407309454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e7d72f11837465%3A0xb337c2b5f740fb02!2sRenatos%20Sodai!5e0!3m2!1slt!2slt!4v1700736858459!5m2!1slt!2slt" 
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <h2> Ką galite aplankyti netoliese? </h2>
        <div>
          <ul>
            <li> Palėvenės dvaras</li>
            <li> Stirniškių Piliakalnis </li>
            <li> Stirniškių atodanga </li>
            <li> Palėvenės šv. Domininko bažnyčia </li>
            <li> Palėvenės dominikonų vienuolynas </li>
          </ul>
        </div>
        <img id="mobile_only" style="margin: 2em; align-self: center;" src="{{ url_for('static', filename='/photos/ornamentas.png') }}">
      </div>
  </form>
{% endblock %}