{% extends "layout.html" %}

{% block title %}
  Nuoma
{% endblock %}

{% block main %}
<style>
  main {
      background-image: url('/static/photos_2/background.png');
  }
</style>
  <form action="/nuoma">
    <div class="nuoma">
      <div class="nuoma_description">
        <h2> Nuoma </h2>
        <p>
          Norintys apsistoti truputėlį ilgėliau arba ieškantys vietos šeimos šventei gali išsinuomoti patalpas.
          Nuomos kaina - <b>10 eur</b> vienam asmeniui.
          Sodybos kaina - <b>250 eur</b>. 
          Priimame lankytojus <b>tik vasaros sezonu</b>.
        </p>
      </div>
      <img id="mobile_only" src="{{ url_for('static', filename='/photos/ornamentas.png') }}">
    <div class="grid_container_gallery_nuoma">
        <img src="static\photos\namai_6.jpg" alt="namai_1">
        <img src="static\photos\namai_2.jpg" alt="namai_2">
        <img src="static\photos\namai_8.jpg" alt="namai_3">
        <img src="static\photos\namai_7.jpg" alt="namai_4">
        <img src="static\photos\namai_3.jpg" alt="namai_5">
        <img src="static\photos\namai_4.jpg" alt="namai_6">
    </div>
    <div class="modal">
      <span class="close">&times;</span>
      <span class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <span class="previous"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
      <div class="modal_content">
        <img src="static\photos\namai_6.jpg" class="modalImg">
      </div>
    </div>
  </div>
  </form>
{% endblock %}