{% extends "layout.html" %}

{% block title %}
   Vaistažolės prie namų
{% endblock %}

{% block main %}
  <form action="/vaistazoles_prie_namu">
    <div class="product_3" >
	  <div class="product_description_3">
		<h2> Vaistažolės prie namų </h2> <!--  Vaistažolės prie namų -- 2 edukacinė --> 
		<p>
			Programa pravedama visus metus, vasaros metu naudojami švieži augalai, žiemos metu džiovinti.
		</p>
		<br><br>
		<p>
			Ši edukacinė programa skirta skirtingo amžiaus žmonėms.
			Programos metu dalyviai susipažins su populiariausiais,
			dažniausiai auginamai daržo, darželio, gėlyno augalais kuriuos
			galima naudoti dažnai pasitaikančių ligų gydymui. Sužinos kaip
			teisingai rinkti ir paruošti naudojimui bei saugojimui turimus
			augalus. Susipažins su kitomis šių augalų panaudojimo
			galimybėmis.
		</p>
		<br><br>
		<p>
			Programoje dalyvaujantys žmonės turės galimybę paragauti
			skirtingų augalų arbatos ir įvertinti jų skonines savybes.
		</p>
		<br>
		<h3> Kaina bei trukmė</h3>
		<p>
			Numatoma programos trukmė <b> 2-2,5val.</b>
			Programa pravedama grupėms nuo <b> 8 iki 25 </b> žmonių.
			<br><br>
			Programos kaina <b>5€</b> suaugusiam žmogui ir <b>2€</b> vaikui.
		</p>
	  </div>
    </div>
  </form>
{% endblock %}