{% extends "layout.html" %}

{% block title %}
   Vaistas ir maistas visada šalia
{% endblock %}

{% block main %}
  <form action="/vaistas_ir_maistas_visada_salia">
    <div class="container" style="display: inline-block; width: 100%; margin: 0; justify-content: space-around;">
	  <img src="static\photos_2\vaistazoles.jpg" style="width: 45%; float: right;">
      <div id="description" style="width: 50%; margin: 20px; transform: translateY(20%);" >
		<h1 style="font-size: 40px; text-align: justify; margin-bottom: 30px; overflow: hidden;">Vaistas ir maistas visada šalia</h1>   <!-- Maistas ir vaistas šalia -- 1 edukacinė --> 
        <p>
            Edukacinė programa pravedama tik gegužės- rugsėjo mėn.

		Ši edukacinė programa skirta skirtingo amžiaus žmonėms. Jos metu vaikai
		ir suaugusieji susipažins su mus supančiuose laukuose ir pievose
		augančiais augalais. 
		<br><br>
		<h2> Kas mūsų laukia? </h2>
		Sužinos augalų naudingasiais savybes išmoks juos
		pažinti ir panaudoti tiek kasdieniniame gyvenime tik ir ištikus bėdai.
		Sužinos kaip teisingai rinkti ir paruošti naudojimui bei saugojimui turimus
		augalus.
		<br><br>
		Programoje dalyvaujantys žmonės turės galimybę pasigaminti ir
		paragauti žolių salotų, užtepo ant duonos, kiaušinienės su žolėmis,
		užsivirti arbatos iš surinktų augalų.
        </p>
		<br>
		<h2 style="margin-bottom: 30px;"> Trukmė ir kaina</h2>
		<p>
			Numatoma programos trukmė <b>2,5-3val.</b>
			Programa pravedama grupėms nuo <b>8 iki 25 </b> žmonių.
			<br><br>
			<b> Programos kaina: 10€ suaugusiam žmogui ir 5€ vaikui.</b>
		</p>
      </div>
    </div>
  </form>
{% endblock %}